SAVE_TO_JSON=true
PUSH_TO_RABBITMQ=true
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=raw_jobs_queue
RABBITMQ_BATCH_SIZE=100

ENABLE_CLOUD_BACKUP=true
CLOUD_BACKUP_CRON="0 2 * * *"
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_BUCKET_NAME=your_bucket_name
# Custom S3 Endpoint (ví dụ cho MinIO: http://localhost:9000). Bỏ trống nếu dùng AWS S3 chuẩn.
AWS_ENDPOINT=
